*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;

}

h1 {
    font-size: 3.2rem;
    position: absolute;
    z-index: 301;
}

#myButton {
    background: rgba(red, green, blue, alpha);
    position: relative;
    z-index: 300;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgba(182, 182, 182, 0.828);

    box-shadow: 4px 4px 20px rgb(202, 202, 202);
    padding: 10px;
    transition: background-color 0.2s, box-shadow 0.5s;
}

#myButton:hover {
    cursor: pointer;
    background-color: rgba(239, 239, 239, 0.784);
    box-shadow: 1px 1px 10px black;
}

#frame {
    position: relative;
    z-index: 200;
    width: 100%;
    height: 100%;
    border: 100px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 30px black inset;
    flex: 5;
}

#controls {
    min-width: fit-content;
    height: 300vh;
    max-height: 100%;
    overflow: scroll;
    position: relative;
    z-index: 300;
    background-color: white;
    flex: 1;
    border-right: 1px solid rgb(156, 156, 156);
    box-shadow: 5px 5px 30px rgb(90, 90, 90);
    padding: 20px;
}

#controls-wrapper {
    position: relative;
    top: 10%;
}

#inputs {
    position: absolute;
    z-index: 200;
}

#wall {
    flex: 4;

}

#title {
    position: absolute;
}